* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;  
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    padding: 30px;    
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(0, 86, 143, 0.9), rgba(0, 0, 0, 0.90)), url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: capitalize;
    backface-visibility: hidden;
    margin-top: 60px;
    
}

.heading-1 {
    display: block;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 40px;
    animation: appear 2s ease-out;
    /* transition: all 1s; */
    
}

.heading-2 {
    display: block;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 12px;
   /*  animation: rightLeft 1s ease-out;  */
    
}

.portfolio {
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 40px;
   /*  animation: expand 1s ease-out; */
    
   
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes topBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes leftRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px)
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px)
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes expand {
    0% {
        letter-spacing: 50px;
        opacity: 0;
    }
    35% {
        letter-spacing: 45px;
    }
    55% {
        letter-spacing: 25px;
    }
    75% {
        letter-spacing: 15px;
    }
    90% {
        letter-spacing: 8px;
    }
    95% {
        letter-spacing: 10px;
    }
    100% {
        letter-spacing: 12px;
    }
}

@keyframes bottomUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*
.btn:link, .btn:visited {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    margin: 20px 2px; 
}

.btn-white {
    background-color: #fff;
    color: #000;
    font-weight: 900;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: bottomUp .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* contact */
#contact  {
    color: #000;
}









