body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    color: grey;
    align: center;
}
.name, .title {
    text-align: center;
    color: black;
}
